body {
  font-size: xx-large;
  color: coral;
  margin-top: 15%;
background-color:dimgrey;
text-align: center;
}
button{
  color: dimgrey;
  background-color: coral;
  font-size: x-large;
}
#button4{
  color: dimgrey;
  background-color: coral;
  font-size: x-large;
}
